transformers~=4.37.0.dev0
datasets
flash_attn
# torch==2.2.0 install with pip3 install torch --index-url https://download.pytorch.org/whl/cu121
wandb
accelerate
matplotlib
seaborn
termcolor
fsspec==2023.5.0
reportlab
galore-torch
trl~=0.7.9
pandas~=2.1.4
peft~=0.8.2
bitsandbytes~=0.42.0
packaging
xformers
deepspeed
matplotlib
